header {
    background-repeat: round;
    color: #ffffff;
    height: 250px;
    display: flex;
    flex-direction: column;
}

.header {
        background-image: url("../images/header.jpg");
        width: 100vw;
        height: 100vh;
}

#logo-wrapper {
    display: flex;
    justify-content: center;
    background-color: #82938f;
    width: 100vw
}

#site_logo {
height: 50px;
padding: 5px;
border-radius: 45px;
}

nav {
    width: 100vw;
}

.current-page {
    border-bottom: 3px rgb(255, 91, 3) solid;
    background-color: #595959;
    color: black;
}

ul a:hover,
ul a:focus {
    border-bottom: 3px rgb(255, 255, 255) solid;
    background-color: #9d9d9d;
}

ul {
    display: flex;
    justify-content: space-around;
}

ul a{
    border-left: 1px #595959 solid;
    border-right: 1px #595959 solid;
    border-bottom: 3px #595959 solid;
    background-color: #8E8D8A;
}

li {
    list-style-type: none;
    width: 33.3333vw;
    text-align: center;
}

nav a {
    display: block;
    padding: 5px 0;
    width: 100%;
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
}