.blog-post {
    background-color: #bca697;
    padding: 2.5% 2.5%;
    margin: 2% 0 2% 4%;
    border-radius: 10px;
    color: #5a5956;
    max-width: 800px;
}

.blog-post p {
    margin-top: 20px;
}

h3 {
    margin-top: 5px;
}

h4 {
    margin: 8px 0;
    color: white;
}

h4 a {
    color: white;
}

h4 a:hover,
h4 a:focus {
    color: rgb(227, 79, 0);
}

.blog-post h3 {
    color: rgb(31, 31, 31);
}

h4 img {
    height: 20px;
}

h4 button {
    padding: 0;
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

button a {
    border-radius: 5px;
    font-size: smaller;
    font-weight: 900;
    padding: 5px 8px;
    text-decoration: none;
    background-color: #82938f;
    margin-bottom: 15px;
    text-transform: uppercase;
    border: 1px solid rgb(255, 255, 255);
}

button a:hover,
button a:focus {
    border: 1px solid rgb(227, 79, 0);
    color: rgb(227, 79, 0);
    padding: 6px 9px;
}

.post-container h2 {
    color: rgb(227, 79, 0);
}

#post-image {
    width: 100%;
    border: 1px white solid;
}

.blog-post figcaption {
    margin: 0 10px 10px 10px;
    text-align: center;
    font: italic;
    font-weight: lighter;
    color: white;
    background-color: rgba(63, 63, 63, 0.509);
}