header {
    background-repeat: round;
    color: #ffffff;
    height: 250px;
    display: flex;
    flex-direction: column;
}

.header {
        background-image: url("header.jpg");
        width: 100vw;
        height: 100vh;
}

#logo-wrapper {
    display: flex;
    justify-content: center;
    background-color: #82938f;
    width: 100vw
}

#site_logo {
height: 50px;
padding: 5px;
border-radius: 45px;
}

nav {
    width: 100vw;
}

.current-page {
    border-bottom: 3px rgb(255, 91, 3) solid;
    background-color: #595959;
    color: black;
}

ul a:hover,
ul a:focus {
    border-bottom: 3px rgb(255, 255, 255) solid;
    background-color: #9d9d9d;
}

ul {
    display: flex;
    justify-content: space-around;
}

ul a{
    border-left: 1px #595959 solid;
    border-right: 1px #595959 solid;
    border-bottom: 3px #595959 solid;
    background-color: #8E8D8A;
}

li {
    list-style-type: none;
    width: 33.3333vw;
    text-align: center;
}

nav a {
    display: block;
    padding: 5px 0;
    width: 100%;
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
}

footer {
    background-color: #82938f;
    height: 45px;
    width: 100vw;
    text-align: center;
    padding-top: 25px;
    font-weight: 900;
    margin-top: auto;
    min-height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.socials {
    padding-left: 10px;
}

.socials img {
    width: 25px;
    margin-left: 15px;
}

.socials a {
    text-decoration: none;
}

footer p {
    padding-right: 25px;
}

@media(max-width: 600px) {
    footer p {
        font-size: 0.8em;
        text-align: center;
        padding-right: 45px;
    }
    .socials img {
        display: none;
    }
}